doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Aethernauts Tooling
        link(rel="stylesheet" href="/css/main.css")
    body
        div Popup - Confirmed
