doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Aethernauts Tooling
        link(rel="stylesheet" href="/css/main.css")
        script.
            var hash    = window.location.hash.substr(1);
            var pairs   = hash.split('&');
            var params  = {}
            for (var i in pairs){
                var pair    = pairs[i].split('=');
                params[pair[0]] = pair[1];
            }

            function request(url, callback) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = callback
                xmlHttp.open( "GET", url, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp;
            }

            request('/api/auth/googleauth?' + hash, function(event) {
                if (event.target.readyState == 4) window.close();
            });

body
        div Popup - Confirmed
