div#NAV.frame
    ul
        li
            button(class="btn btn-default btn-sm" disabled) Home
        li
            button(class="btn btn-default btn-sm" disabled) Register
        li
            button(ng-click="login($event)" ng-show="!profile" class="btn btn-default btn-sm") Login
            button(ng-click="logout($event)" ng-show="profile" class="btn btn-default btn-sm") Logout


