ul
    li
        button(class="btn btn-primary btn-sm" ng-disabled="!session.profile" ui-sref="dashboard") Dashboard
    li
        button(class="btn btn-primary btn-sm" ng-disabled="!session.profile" ) Option
    li
        button(class="btn btn-primary btn-sm" ng-disabled="!session.profile" ) Option
    li
        button(class="btn btn-primary btn-sm" ng-disabled="!session.profile" ) Option




