div#NAV.frame
    ul
        li
            button(class="btn btn-default btn-sm" disabled) Home
        li
            button(class="btn btn-default btn-sm" disabled) Register
        li(ui-view="auth")


