ul
    li
        button(class="btn btn-primary btn-sm" ui-sref="admin.dashboard") Dashboard
    li
        button(class="btn btn-primary btn-sm" ui-sref="admin.worlds" ) Worlds
    li
        button(class="btn btn-primary btn-sm" ng-disabled="true") Option
    li
        button(class="btn btn-primary btn-sm" ng-disabled="true") Option




