div#LAYOUT(layout)
    div#TOP
        div#HEADER.frame
            include header
        login
    div#MIDDLE
        div#LEFT.frame
            sidemenu
        div#CENTER.frame
            include content
        div#RIGHT.frame
            include banner
    div#BOTTOM
        div#MAP.frame
            include map
        div#FOOTER.frame
            include footer
