div#LAYOUT(layout)
    div#TOP
        div#HEADER.frame
            include header
        div#NAV.frame(ui-view="auth")
    div#MIDDLE
        div#LEFT.frame(ui-view="menu")
        div#CENTER.frame(ui-view="center")
        div#RIGHT.frame
            include banner
    div#BOTTOM
        div#MAP.frame
            include map
        div#FOOTER.frame
            include footer
