doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Aethernauts Tooling
        script(language="JavaScript" type="text/javascript" src="/lib/application/main.js")
    body
        div#TOP
        div#LEFT
        div#CENTER
        div#RIGHT
        div#BOTTOM
